*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: darkgreen;
    display: flex;
    padding: 20px;
    margin: 20px;
}
